header {
    background: #BBBB;
    /* Colocar um fundo de cor no cabecalho da pagina */
    padding: 20px 0;
}

.caixa {
    margin: 0 auto;
    /* 0 pra cima e para baixo e auto na esqueda e direito */
    position: relative;
    width: 940px;
    /* largura fixa da caixa de lista */

}
nav {

    position: absolute;
    /* libera a movimentacao do item */
    top: 110px;
    /* subiu 110x do ponto inicial */
    right: 0;
    /* levo o item inicial ao maximo para direita */
}

nav li {
    /* nevegação e edicao dos itens da lista */

    display: inline;
    /* colocar o itens da lista em linhas, pois no caso os itens estao um em baixo do outro*/
    margin: 0 0 0 15px;
    /* criar um espaço para esquerda dos itens da lista */
}
nav a {
    text-transform: uppercase;
    /* Colocar o texto em Maiusculo    */
    color: #000000;
    /* Alterar a cor do texto  */
    font-weight: bolder;
    /* Colocar a fonte em negrito  */
    font-size: 22px;
    /* Aumentar o tamanho da fonte  */
    text-decoration: nome;
    /* nenhuma decoração no texto, essa funcao que deixa o texto sublinhado */
}
.produtos {/* comando para centralizar a lista*/

    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}
.produtos li {/* classe pra controlar os produtos */
    display: inline-block;/* colocando os produtos em linha um do lado do outro*/
    text-align: center;
    width: 30%; /* tamanho de cada um item da lista*/
    vertical-align: top;
}
.produtos h2{ 
font-size: 30px; /* tamanho do titulo da lista */
font-weight: bold; /* colocar o item em negrito */
}

.produto-descricao{
    font-size: 18px;

}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
}