header {
    background: #BBBB;
    /* Colocar um fundo de cor no cabecalho da pagina */
    padding: 20px 0;
}

.caixa {
    margin: 0 auto;
    /* 0 pra cima e para baixo e auto na esqueda e direito */
    position: relative;
    width: 940px;
    /* largura fixa da caixa de lista */

}

nav {

    position: absolute;
    /* libera a movimentacao do item */
    top: 110px;
    /* subiu 110x do ponto inicial */
    right: 0;
    /* levo o item inicial ao maximo para direita */
}

nav li {
    /* nevegação e edicao dos itens da lista */

    display: inline;
    /* colocar o itens da lista em linhas, pois no caso os itens estao um em baixo do outro*/
    margin: 0 0 0 15px;
    /* criar um espaço para esquerda dos itens da lista */
}

nav a {
    text-transform: uppercase;
    /* Colocar o texto em Maiusculo    */
    color: #000000;
    /* Alterar a cor do texto  */
    font-weight: bolder;
    /* Colocar a fonte em negrito  */
    font-size: 22px;
    /* Aumentar o tamanho da fonte  */
    text-decoration: nome;
    /* nenhuma decoração no texto, essa funcao que deixa o texto sublinhado */
}

nav a:hover {
    color: #C78C19
        /* coloca uma cor quando eu seleciono os itens que esta marcado com a, ou seja os link dentro desse a */

}

nav a:hover {
    text-decoration: underline;
    /*sublinha quano coloca o mouse em cima */

}


.produtos {
    /* comando para centralizar a lista*/

    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.produtos li {
    /* classe pra controlar os produtos */
    display: inline-block;
    /* colocando os produtos em linha um do lado do outro*/
    text-align: center;
    width: 30%;
    /* tamanho de cada um item da lista*/
    vertical-align: top;
    /* background: #cccccc; depois de arrumar o item da lista podemos tirar essa borda cinza       */
    margin: 0 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px solid #000000;
    /* aqui tem a definição das bordas tamanho, tipo e cor*/
    border-radius: 10px;
    /* comando para deixar a borda redonda*/
}

.produtos li:hover {

    border-color: #C78C19;
    /* com a fanca hover mexe na borba quando passa o mouse por cima*/

}

.produtos li:active {
    border-color: #088C19;
    /* ativa a borda quando o mouse esta em cima*/
}

.produtos li:hover h2 {
    font-size: 34px;
    /* altera o tamanho da fonte do titulo quando o mouse esta por cima/
    
    }
    


.produtos h2 {
    font-size: 30px; /* tamanho do titulo da lista */
    font-weight: bold;
    /* colocar o item em negrito */
}

.produto-descricao {
    font-size: 18px;

}

.produto-preco {
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px;
}

footer {

    text-align: center;
    /* colocando o Rodape no centro*/
    background: url("bg.jpg");
    /* colocando uma imagem de fundo no Rodape*/
    padding: 40px 0;


}

.copyright {

    color: #FFFFFF;
    /* cor da fonte do RodaPe Rodape*/
    font-size: 13px;
    margin: 20px;

}

/******************************************* A partir daqui estamos falando de formulario*******************/

main {
    /* centralizar os formularios */

    width: 940px;
    margin: 0 auto;

}

form {
    /* dar um espaço nos formularios */

    margin: 40px 0;

}

form label,
form legend {

    display: block;
    font-size: 20px;
    margin: 0 0 10px;

}

.input-padrao {

    display: block;
    margin: 0 0 20px;
    padding: 10px 25px;
    width: 50%;
}

.checkbox {
    margin: 20px 0;

}

.enviar {
    /* mudança de estilo do botao enviar */
    width: 40%;
    /* aumentar o tamanho */
    padding: 15px 0;
    /* aumentar o espacamento interno */
    background: orange;
    /* cor de fundo */
    color: white;
    /* cor do texto */
    font-weight: bold;
    /* fonte em negrito */
    font-size: 18px;
    /* tamanho da fonte*/
    border: none;
    /* botao sem borda*/
    border-radius: 5px;
    /* borda aredondada*/
    transition: 1s all;
    /*  tempo do efeito de quando o mouse passa por cima*/
    cursor: pointer;
    /* curso do mouse vira um maozinha*/



}

.enviar:hover {
    /* efeito de quando passa o mouse por cima*/
    background: darkorange;
    /* cor do efeito*/
    transform: scale(1.2);
    /* aumento da fonte em 20% quando passar o mouse por cima*/


}


table {

    margin: 20px 0 40px;

}

thead {
    background: #555555;
    color: white;
    font-weight: bold;

}

td,
th {

    border: 1px solid #000000;
    padding: 8px 15px;
}

/******************************************* A partir daqui estamos falando de pagina inicial*******************/

.banner {
    width: 100%;

}

.titulo-principal {
    text-align: center;
    font-size: 2em;
    /****tamanho da fonte sera o dobro do padrao**/
    margin: 0 0 1em;
    clear: left;


}

.principal p {

    margin: 0 0 1em;

}

.principal strong {

    font-weight: bold;
}

.principal em {

    font-style: italic;
}

.utensilios {

    width: 120px;
    float: left;
    /****faz a imagem flutuar na tela para que o texto fique em volta**/
    margin: 0 20px 20px 0;



}



.imagembeneficios {
    width: 60%;

}